.main {
  margin: 2rem auto 0;
  max-width: 93.6rem;
}

@media screen and (730px < width <= 1080px) {
  .main {
    margin-left: 7.2rem;
    margin-right: 7.2rem;
  }
}

@media screen and (width <= 730px) {
  .main {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}
